* {
    box-sizing: border-box;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.container {
    margin-top: 5%;
    background-color: grey;
    perspective: 1000px;
    height: 100%;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
    display: flex;
}

.list{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}