* {
    box-sizing: border-box;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.container {
    margin-top: 5%;
    background-color: grey;
    perspective: 1000px;
    height: calc(100vh - 5%);
    overflow: hidden;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
    display: block;
}