.movie-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    backdrop-filter: blur(1000px);
    
    

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        filter: blur(10px);
        z-index: -1;
    }

    img {
        width: 150px;
        height: auto;
        border-radius: 10px;
        margin-right: 15px;
        z-index: 1;
    }

    .movie-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        h2 {
            font-size: 1.5em;
            margin: 0 0 10px 0;
        }

        p {
            font-size: 1em;
            margin: 0;
            color: white;
            text-shadow: 10px;
            border:1em;
            border-color:black;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
}