<div class="background">
    <div class="username">
        <p>STEP 3 OF 3</p>
        <h2>Create a Username and Add your TMDB API Key</h2>
        <p>Just one more steps and you're donw!</p>
        <p>We hate paperwork, too.</p>
        <form>
        <input type="username" id="username" name="username" placeholder="Enter your username:" required>
        <input type="api" id="api" name="api" placeholder="Add your TMDB API key" required>
        <button type="submit" (click)="toMovieList()">Next</button>
        </form>
    </div>
</div>